p:first-of-type::first-letter{
  color: green;
  font-size: 30px;
  line-height: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.citacao{
  font-style: italic;
}

#span-com-id{
  color: red;
}
